<div class="container">
	<br>
    <h1> Nueva Convocatoria </h1>
    <hr>
</div>

<%= form_with scope: :announcement, url: announcements_path, local: true do |form| %>
	<% if @announcement.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@announcement.errors.count, "error") %> prohibited
				this announcement from being saved:
			</h2>
			<ul>
				<% @announcement.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
  
	<div class="container col-8">
	  	<div class="form">
				<%= form.label :name_program, 'Nombre Curso: ', class: " m-2 p-2" %><br>
				<%= form.text_field :name_program, required: true , class: "form-control m-2 p-2" %>
	  	</div>
	  	
	  	<div class="form">
				<%= form.label :instructor, 'Instructor: ', class: "m-2 p-2" %><br>
				<%= form.text_field :instructor, required: true , class: "form-control m-2 p-2" %>
	  	</div>
	  	
	  	<div class="form-inline">
				<%= form.label :start_registration, 'Inicio de inscripci贸n: ', class: "m-2 p-2" %><br>
				<%= form.date_field :start_registration, required: true , class: "form-control m-2 p-2" %>
	  	</div>

		
		<div class="form-inline">
				<%= form.label :end_registration, 'Fin de inscripci贸n: ', class: "m-2 p-2" %><br>
				<%= form.date_field :end_registration, required: true , class: "form-control m-2 p-2" %>
	  	</div>

	  	<div class="form-inline">
				<%= form.label :start_date, 'Inicio de curso: ', class: "m-2 p-2" %><br>
				<%= form.date_field :start_date, required: true , class: "form-control m-2 p-2" %>
	  	</div>

		
		<div class="form-inline">
				<%= form.label :end_date, 'Fin de curso: ', class: "m-2 p-2" %><br>
				<%= form.date_field :end_date, required: true , class: "form-control m-2 p-2" %>
	  	</div>

	  	<div class="form-inline">
				<%= form.label :length, 'Duraci贸n curso: ', class: "m-2 p-2" %><br>
				<%= form.number_field :length, required: true , class: "form-control m-2 p-2" %>
	  	</div>	
	  	
		<div class="form">
				<%= form.label :schedule, 'Horario: ', class: "m-2 p-2" %><br>
				<%= form.text_area :schedule, required: true , class: "form-control m-2 p-2" %>
	  	</div>

		<div class="form">
				<%= form.label :faculty, 'Divisi贸n: ', class: "m-2 p-2" %><br>
				<%= form.text_field :faculty, required: true , class: "form-control m-2 p-2" %>
	  	</div>
	  	
	  	<div class="form">
				<%= form.label :department, 'Departamento: ', class: "m-2 p-2" %><br>
				<%= form.text_field :department, required: true , class: "form-control m-2 p-2" %>
	  	</div>

	  	<div class="form">
				<%= form.label :classroom, 'Aula: ', class: "m-2 p-2" %><br>
				<%= form.text_field :classroom, required: true , class: "form-control m-2 p-2" %>
	  	</div>	  	

	  	<div class="form">
				<%= form.label :location, 'Lugar: ', class: "m-2 p-2" %><br>
				<%= form.text_area :location, required: true , class: "form-control m-2 p-2" %>
	  	</div>
	  	
	  	<div class="form">
				<%= form.label :summary, 'Objetivo general: ', class: "m-2 p-2" %><br>
				<%= form.text_area :summary, required: true , class: "form-control m-2 p-2" %>
	  	</div>

	  	<div class="form">
				<%= form.label :cv_resume, 'Resumen cv instructor: ', class: "m-2 p-2" %><br>
				<%= form.text_area :cv_resume, required: true , class: "form-control m-2 p-2" %>
	  	</div>

    <%= form.submit 'Guardar', class: "btn btn-success m-2 p-2" %>
    <%= link_to 'Regresar', announcements_path, class: "btn btn-primary" %>
	</div>
<% end %>

