<div class="container">
    <div>
        <br>
        <h1>Solicitudes de 
            <%= @group.name_program %>
        </h1>

    </div>

    <hr>
    <% @group.students.where(:status => 'pendiente').each do |student| %>
    <div class="row align-items-center border-bottom  p-1">
        <div class="col-10 border-right">
            <%= student.name %>
            <%= student.last_name %>
        </div>
        <div class= "col-2 border-left">
                
                    <%= button_to "Aceptar", group_student_aceptar_path(@group, student), :method => :put, class: "btn btn-success" %>
                
            </div>
    </div>
    <% end %>
    <br>
  
        <%= link_to 'Agregar alumno', new_group_student_path(@group), class: "btn btn-primary" %>
        <%= link_to "Ver alumnos", group_student_path(@group), class: "btn btn-primary" %>
        <%= link_to 'Regresar', groups_path, class: "btn btn-primary" %>
</div>
